################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.venv
/.env
/.vs
/.vscode
/src/discord/cogs/openAI
__pycache__/
