################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.venv
/.env
/.vs
/.vscode
/.json
/.pdf
__pycache__/
