################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.venv
/.env
/.vs
/.vscode
__pycache__/
